body{
    display: flex;
}


.menu{
    background-color: #ADD8E6;
    height: 100vw;
    width: 100px;
    text-align: center;
    padding-top: 10px;
}

.itens{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.principal{
    width: 100%;
    height: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 70px;
}

.data{
    font-size: 30px;
}

a{
    list-style: none;
    color: black;
    text-decoration: none;
}

#crono-centesimos{
    font-size: 40px;
}

.crono-botoes{
    margin-top: -30px;
}

#crono-botao-iniciar{
    background-color: green;
}

#crono-botao-redefinir{
    background-color: yellow;
}

.despertador{
    width: 37px;
}

.divisor{
    font-size: 23px;
    margin-left: 8px;
}

.horario-depertar{
    margin-top: -25px;
    
}

.despertadores{
    height: 200px;
    display: flex;
}

.horarios-salvos{
    font-size: 25px;
    border: 1px solid black;
    text-align: center;
    background-color: azure;
    margin-bottom: 5px;
}